@use "../abstracts" as var;

.in__numbers {
  background: var.$blue;
  padding-block: 4.9rem 29.6rem;

  .container {
    @include var.container(column, start, center, 3.8rem);

    @include var.breakpoint("tablet") {
      @include var.container(column, center, center, 3.8rem);
    }
  }

  h2 {
    @include var.titleh2(white);
  }

  .numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    @include var.breakpoint(1378px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.15rem;
    }

    @include var.breakpoint(mobile) {
      grid-template-columns: 1fr;
    }
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type)::after {
      content: "";
      background: white;
      width: 27px;
      height: 4px;
      border-radius: 2px;
      margin-inline: 3.15rem;

      @include var.breakpoint(1378px) {
        display: none;
      }
    }

    .number__container {
      width: 194px;
      height: 194px;
      border-radius: 50%;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-size: 6rem;
      color: var.$red;
      font-weight: 700;
      margin: 0;
      padding: 0;
      line-height: 1;
      text-align: center;
    }

    p {
      color: var.$blue;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
