@use '../abstracts' as var;

article .container {
  @include var.container(column);

  h2 {
    @include var.titleh2(var.$blue);
  }
}

.objectives {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;

  @include var.breakpoint('laptop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include var.breakpoint('mobile') {
    grid-template-columns: 1fr;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-of-type(even) .objective__container {
      background: transparent !important;
      border: 1px solid var.$skin !important;
      color: black !important;
    }
  }

  h3 {
    @include var.titleh3(9rem);
  }

  .objective__container {
    background: var.$blue;
    border-top-left-radius: 20px;
    padding: 3.2rem 2.6rem;
    color: white;

    p{
      font-size: 1.8rem;
    }
  }
}